@shadowBottom: 0 0.2rem 0.3rem rgba(48, 48, 48, 192);
@shadowTop: 0 -0.1rem 0.2rem rgba(96, 49, 152, .5);
@gridStart: rgba(58, 30, 120, 1);
@gridEnd: rgba(96, 49, 152, 1);
@buttonColor: #7a6ed5;
@errorColor: #000;
@mark1Color: teal;
@mark2Color: pink;
.game-wrap {
  height: 100%;
  background-color: #f0f4f8;
}

.hidden {
  display: none;
}

.container {
  background-color: @gridStart;
  height: 650rpx;
  .row {
    width: 100%;
    border-color: #ccc;
    height: 82rpsx;
    display: flex;
    >span {
      width: 11%;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      height: 70rpx;
      line-height: 70rpx;
      color: #fff;
      border: 1px solid #ccc;
      background-color: @gridStart;
      border-right-width: 0;
      border-bottom-width: 0;
      position: relative;
      &.light {
        background-color: @gridEnd;
      }
      &.col_g_right {
        border-right-width: 1px;
      }
      &:last-child {
        border-right-width: 2px;
      }
      &:first-child {
        border-left-width: 2px;
      }
      &.fixed {
        background-color: #eee;
      }
      &.empty {
        color: transparent;
      }
      &.error {
        background-color: black;
        &.empty {
          color: black;
        }
      }
      &.mark1 {
        background-color: @mark1Color;
        &.empty {
          color: @mark1Color;
        }
      }
      &.mark2 {
        background-color: @mark2Color;
        &.empty {
          color: @mark2Color;
        }
      }
      .tip {
        display: inline-block;
        background-color: aquamarine;
        width: 20rpx;
        height: 20rpx;
        border-radius: 20rpx;
        position: absolute;
        top: 4rpx;
        left: 4rpx;
        &::after {
          content: '';
          display: inline-block;
          background-color: @gridStart;
          width: 12rpx;
          height: 12rpx;
          border-radius: 12rpx;
          position: absolute;
          top: 4rpx;
          left: 4rpx;
        }
      }
      &.light .tip &::after {
        background-color: @gridEnd;
      }
    }
    &.row_g_bottom {
      >span {
        border-bottom-width: 1px;
      }
    }
    &:first-child {
      >span {
        border-top-width: 2px;
      }
    }
    &:last-child {
      >span {
        border-bottom-width: 2px;
      }
    }
  }
}

@popupCellSize: 40px;
.popup_num {
  .container();
  height: 320rpx;
  .row {
    >span {
      width: @popupCellSize;
      height: @popupCellSize;
      line-height: @popupCellSize;
    }
  }
}

.dashboard {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: @shadowTop;
  .buttons {
    width: 100%;
    button {
      background-color: @buttonColor;
      width: 220rpx;
      font-size: 18px;
      border-radius: 40rpx;
      border: none;
      color: #fff;
      height: 90rpx;
      line-height: 90rpx;
      vertical-align: middle;
      margin: 30rpx auto;
      box-shadow: 0 0 5px @buttonColor;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        border-right-width: 1px;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}